.cta {
  background: #9aa8b7;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin: 20px -20px -20px;
  overflow: hidden;
  .image {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    svg {
      width: auto;
      height: 200px;
      // background: grey;
      // border-radius: 99999px;
      path,
      polygon {
        fill: white;
      }
    }
  }
  .copy {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h3,p {
    color: white;
    margin: 0;
  }
  .btn {
    background: white;
    color: $Blue1;
    margin: 20px 0 0;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .cta {
    gap: 20px;
    flex-direction: row;
    padding: 60px;
    border-radius: 5px;
    margin-top: 40px;
  }
}